* {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #CD5C5C;
  width: 100%;
  height:  100%;
  line-height: 1.6em;
}

.container {
	width: 1140px;
	margin: 25px auto 25px auto;
}

#circle {
  margin: auto;
  padding-top: 25px;
  width: 550px;
  height: 550px;
  -webkit-border-radius: 550px;
  -moz-border-radius: 550px;
  border-radius: 550px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

#quotes-container {
  margin: auto;
  width: 500px;
  height: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  background: url(imgs/seneca.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.circle {
  background-color: grey;
}

.seneca-bk {
  background-color: rgba(18, 175, 200, 0.75);
}

.seneca-bk h3 {
  background-color: rgba(18, 175, 200, 0.75);
}

.seneca-bk p {
  background-color: rgba(18, 175, 200, 0.75);
}

.plato-bk {
  background-color: rgba(225, 85, 60, 0.75);
}

.plato-bk h3 {
  background-color: rgba(225, 85, 60, 0.75);
}

.plato-bk p {
  background-color: rgba(225, 85, 60, 0.75);
}

.seneca, .plato {

  text-align: center;
  margin: 100px 100px 100px 100px

}

h1 {
  margin-bottom: 15px;
}

h1, a {
  text-align: center;
}

a {
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  display: block;
}

p, h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgba(245, 245, 245, 0.85);
  background-color: rgba(225, 85, 60, 0.75);
}
